*,
*::before,
*::after{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    color: #353953;
    background-color:#f0f1f7;
}
main{
    height: 100vh;
    align-items: center;
}
.container{
    position: absolute;
    top: 10%;
    left: 45%;
}
.branding{
    display: flex;
    height: 80vh;
    position: absolute;
    top: 10%;
    left: 10%;
}
.branding img{
    height: 80vh;
    width: auto;

}
.heading h1{
    font-size: 7vw;
    font-weight: bold;
}
.heading p{
    font-size: 1.5vw;
    font-weight: 200;
}
.menu{
    justify-content: flex-start;
    margin: 40px 0px;
    display: flex;
    background-color: #353953;
    padding: 30px;
}
.menu a{
    text-decoration: none;
    font-size: 1.3vw;
    color: white;
}
.websites{
    cursor: pointer;
    color: white;
    font-weight: 200;
    font-size: 1.3vw;
    letter-spacing: 2px;
    margin: 0px 50px 0px 0px;
}
.websites img{
    height: 6vw;
    width: auto;
    margin: 0px 0px 25px 0px;
}
.graphics{
    cursor: pointer;
    color: white;
    font-weight: 200;
    font-size: 1.3vw;
    letter-spacing: 2px;
    margin: 0px 50px 0px 0px;
}
.graphics img{
    height: 6vw;
    width: auto;
    margin: 0px 0px 25px 0px;
}
.sketch-up{
    cursor: pointer;
    color: white;
    font-weight: 200;
    font-size: 1.3vw;
    letter-spacing: 2px;
    margin: 0px 50px 0px 0px;
}
.sketch-up img{
    height: 6vw;
    width: auto;
    margin: 0px 0px 25px 0px;
}
.music{
    cursor: pointer;
    color: white;
    font-weight: 200;
    font-size: 1.3vw;
    letter-spacing: 2px;
    margin: 0px 50px 0px 0px;
}
.music img{
    height: 6vw;
    width: auto;
    margin: 0px 0px 25px 0px;
}
footer{
    flex: 1;
    height: 10vh;
}
.nav-links{
    display: flex;
    list-style: none;
}
.nav-link{
    color: #353953;
    font-size: 15px;
    text-decoration: none;
    font-weight: 400;
}
@media min-width