*,
*::before,
*::after{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    color: #353953;
    background-color:#f0f1f7;
}
main{
    height: 95vh;
    align-items: center;
}
.container{
    position: absolute;
    top: 10%;
    left: 45%;
}

.branding{
    display: flex;
    height: 82vh;
    position: absolute;
    top: 10%;
    left: 10%;
    align-items: center;;
}
.branding img{
    align-items: center;
    height: 80vh;
    width: auto;

}
.heading h1{
    font-size: 105px;
    font-weight: bold;
}
.heading p{
    font-size: 20px;
    font-weight: 200;
}
.menu{
    justify-content: flex-start;
    margin: 40px 0px;
    display: flex;
    background-color: #353953;
    padding: 30px;
}
.menu a{
    text-decoration: none;
    color: white;
}
.websites{
    cursor: pointer;
    color: white;
    font-weight: 200;
    font-size: 16pt;
    letter-spacing: 2px;
    margin: 0px 50px 0px 0px;
}
.websites img{
    height: 87px;
    width: auto;
    margin: 0px 0px 25px 0px;
}
.graphics{
    cursor: pointer;
    color: white;
    font-weight: 200;
    font-size: 16pt;
    letter-spacing: 2px;
    margin: 0px 50px 0px 0px;
}
.graphics img{
    height: 87px;
    width: auto;
    margin: 0px 0px 25px 0px;
}
.sketch-up{
    cursor: pointer;
    color: white;
    font-weight: 200;
    font-size: 16pt;
    letter-spacing: 2px;
    margin: 0px 50px 0px 0px;
}
.sketch-up img{
    height: 87px;
    width: auto;
    margin: 0px 0px 25px 0px;
}
.music{
    cursor: pointer;
    color: white;
    font-weight: 200;
    font-size: 16pt;
    letter-spacing: 2px;
    margin: 0px 50px 0px 0px;
}
.music img{
    height: 87px;
    width: auto;
    margin: 0px 0px 25px 0px;
}
footer{
    width: 80%;
    margin: auto;
}
.footer-links{
    display: flex;
    justify-content: flex-start;
    list-style: none;
}
.footer-link{
    margin: 0px 30px 0px 0px;
    color: #353953;
    font-size: 15px;
    text-decoration: none;
    font-weight: 400;
}
nav{
    display: flex;
    width: 100%;
    margin: auto;
    height: 10vh;
    background-color: #353953;
}
.nav-links{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}
.nav-link{
    margin: 0px 30px 0px 0px;
    color: white;
    font-size: 15px;
    text-decoration: none;
    font-weight: 400;
}
.nav-link:hover{
    color:#bfc2d0;
}
.nav-link.active{
    margin: 0px 30px 0px 0px;
    color: white;
    font-size: 15px;
    text-decoration: none;
    font-weight: 800;
}
.pages-nav{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: flex-start;
    align-items: center;
}
.brand{
    display: flex;
    flex: 1;
    justify-content: flex-start;
    height: 10vh;
    margin: auto;
    align-items: center;
}
.brand img{
    height: 5vh;
    width: auto;
}
.projects{
    width: 80%;
    margin: auto;
}
.projects2{
    position: absolute;
    width: 80%;
    margin: auto;
    top: 80vh;
}
.descriptions{
    position: absolute;
    z-index: 1;
    height: 50.1vh;
    width: 50.1vw;
    background-color: #353953;
    color: white;
    top: 23vh;
    left: 39vw;
}
.flex-desc {
    display: flex;
    justify-content: flex-end;
    padding-right: 20%;
  }
  
.flex-desc > p {
    width: 40%;
    text-align: left;
    font-size: 11px;
  }
.descriptions h1{
    padding: 5%;
    text-transform: uppercase;
    font-size: 69px;
    color: white;
    font-weight:900;
}
.img-placeholder{
    position: absolute;
    z-index: 2;
    height: 50.1vh;
    width: 50.1vw;
    background-color:#f0f1f7;
    top: 42vh;
    left: 10vw;
    overflow: hidden;
}
.img-placeholder > img{
    object-fit: cover;
    object-position: top;
    height: auto;
    width: 50.1vw;
    position: relative;
    animation: mockup 50s infinite;
    animation-direction: normal;
}
#mockup-motion{
    animation-timing-function: ease-out;
}
@keyframes mockup{
    0%{top: 0px;}
    100%{top: -2000px;}
}

@media(max-width: 1140px){
    .container{
        position: absolute;
        top: 5%;
        left: 35vw;
    }
    .branding{
        display: flex;
        height: 82vh;
        position: absolute;
        top: 5%;
        left: 2%;
        align-items: center;;
    }
    .branding img{
        height: 70vh;
        width: auto;
        padding: 0px 100px 0px 0px;
    }
    .menu{
        margin: 0px;
        padding: 20px;
    }
    .heading h1{
        font-size: 95px;
        font-weight: bold;
    }
    .heading p{
        font-size: 18px;
        font-weight: 200;
    }
    .websites,.graphics,.sketch-up,.music{
        font-size: 14px;
        font-weight: 200;
        letter-spacing: 2px;
    }
    .websites img,.graphics img,.sketch-up img,.music img{
        height: 100px;
        width: auto;
    }
}

@media(max-width: 922px){
    .container{
        position: absolute;
        top: 5%;
        left: 25vw;
    }
    .branding{
        display: flex;
        height: auto;
        width: 25vw;
        position: absolute;
        top: 5%;
        left: 2%;
    }
    .branding img{
        height: auto;
        width: 25vw;
        padding: 0px 30px 0px 0px;
    }
    .menu{
        margin: 0px;
        padding: 20px;
    }
    .heading h1{
        font-size: 85px;
        font-weight: bold;
    }
    .heading p{
        font-size: 18px;
        font-weight: 200;
    }
    .websites,.graphics,.sketch-up,.music{
        font-size: 14px;
        font-weight: 200;
        letter-spacing: 2px;
    }
    .websites img,.graphics img,.sketch-up img,.music img{
        height: 100px;
        width: auto;
    }
}
@media(max-width: 720px){
    .container{
        position: absolute;
        top: 5%;
        left: 25vw;
    }
    .branding{
        display: flex;
        height: auto;
        width: 25vw;
        position: absolute;
        top: 5%;
        left: 2%;
    }
    .branding img{
        height: auto;
        width: 25vw;
        padding: 0px 30px 0px 0px;
    }
    .heading h1{
        font-size: 45px;
        font-weight: bold;
    }
    .heading p{
        font-size: 18px;
        font-weight: 200;
    }
    .menu{
        display: grid;
        align-items: center;
        grid-template-columns: repeat(2, 200px);
        font-size: 24px;
        letter-spacing: 2px;
        color: violet;
        margin: 40px 0px;
    }
    .websites,.graphics,.sketch-up,.music{
        font-weight: 200;
        letter-spacing: 2px;
    }
    .websites img,.graphics img,.sketch-up img,.music img{
        height: 100px;
        width: auto;
    }
}
@media(max-width: 540px){
    .container{
        position: unset;
    }
    .branding img{
        visibility: hidden;
    }
    .heading h1{
        font-size: 45px;
        font-weight: bold;
    }
    .heading p{
        font-size: 18px;
        font-weight: 200;
    }
    .menu{
        display: grid;
        align-items: center;
        grid-template-columns: repeat(2, 200px);
        font-size: 24px;
        letter-spacing: 2px;
        color: violet;
        margin: 40px 0px;
    }
    .websites,.graphics,.sketch-up,.music{
        font-weight: 200;
        letter-spacing: 2px;
    }
    .websites img,.graphics img,.sketch-up img,.music img{
        height: 100px;
        width: auto;
    }
}