*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    color: #353953;
    background-color:#f0f1f7;
}
.container{
    margin-top: 10vh;
}
.brand{
    height: auto;
    width: 85%;
}

.intro h1{
    font-size: 7vw;
    font-weight: bold;
}
.intro p{
    font-size: 1.5vw;
    font-weight: 200;
}
.menu{
    margin: 25px 0px 0px 0px;
    display: flex;
    background-color: #353953;
    padding: 30px;
}
.websites{
    cursor: pointer;
    color: white;
    font-weight: 200;
    font-size: 1.3vw;
    margin: 0px 0px 0px 0px;
    letter-spacing: 2px;
}
.websites img{
    height: 6vw;
    width: auto;
    margin: 0px 0px 25px 0px;
}
.graphics{
    cursor: pointer;
    color: white;
    font-weight: 200;
    font-size: 1.3vw;
    margin: 0px 0px 0px 0px;
    letter-spacing: 2px;
}
.graphics img{
    height: 6vw;
    width: auto;
    margin: 0px 0px 25px 0px;
}
.sketchup{
    cursor: pointer;
    color: white;
    font-weight: 200;
    font-size: 1.3vw;
    margin: 0px 0px 0px 0px;
    letter-spacing: 2px;
}
.sketchup img{
    height: 6vw;
    width: auto;
    margin: 0px 0px 25px 0px;
}
.music{
    cursor: pointer;
    color: white;
    font-weight: 200;
    font-size: 1.3vw;
    margin: 0px 0px 0px 0px;
    letter-spacing: 2px;
}
.music img{
    height: 6vw;
    width: auto;
    margin: 0px 0px 25px 0px;
}
footer{
    flex: 1;
    height: 10vh;
}
.nav-links{
    display: flex;
    list-style: none;
}
.nav-link{
    color: #353953;
    font-size: 15px;
    text-decoration: none;
    font-weight: 400;
}
@media min-width